header {
    font-family: 'Martel', serif;
    font-weight: 400;
}

body {
    font-family: 'Karla', serif;
    font-weight: 700;
}

main {
    background-color: #2B394A;
    color: #D9E3DA;
    font-size: 1.5rem;
}

h4 {
    font-size: 2.4rem;
    font-weight: bold;
}

h6 {
    font-family: 'Martel', serif;
    padding-bottom: 2.5rem;
    color: #337ab7;
}

#navbar-scroll {
    background-color: #343a40;
}

.navbar {
    position: fixed;
    margin-bottom: 0rem;
}

.navlink {
    color: #f8f9fa;
}

.timelinetext {
    color: #99FFFF;
    background-color: #337ab7;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5%;
}

.timelinemodal {
    color: #99FFFF;
    background-color: #337ab7;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5%;
    border: 0rem;
}

.timelinemodal:hover {
    text-decoration: underline;
    background-color: transparent;
}

a {
    text-decoration: None;
}

a:hover {
    color: #99FFFF;
    background-color: transparent !important;
}

.navbar-brand {
    color: #f8f9fa;
}

#helloworld {
    margin-top: 4.0rem;
}

.sector {
    text-align: center;
    padding-top: 12.5rem;
    padding-bottom: 5.0rem;
}

.col-md-1 {
    margin-top: 16%;
    font-size: 1.5rem;
}

#pic {
    width: 30rem;
    border-radius: 3%;
}

#picword {
    margin-top: 5%;
}

#greetings {
    font-size: 3.2rem;
    font-weight: bold;
    font-family:  'Martel', serif;
}

#greetingsseperator {
    height: .4rem;
    background: white;
    margin-bottom: 1.5rem;
}

#aboutme {
    text-align: justify;
    width: 75%;
    margin-left: 25%;
}

#self {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 50%;
}

#qualifications {
    width: 70%;
    margin: auto;
}

.timelinebutton {
    background-color: transparent;
    color: white;
}

.timelinebutton.active {
    color: #dc3545;
    font-size: 1.5rem;
}

.row {
    width: 60%;
    margin: auto;
}

.left {
    border-right: solid;
    padding: 1.5rem;
    text-align: right;
}

.right {
    border-left: solid;
    padding: 1.5rem;
    text-align: left;
}

.description {
    font-family: 'Martel', serif;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    color: #337ab7;
    font-size: 1.4rem;
}

#portfolio {
    text-align: center;
}

.col-6 {
    padding-bottom: 1.5rem;
}

.projects {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-left: 3.0rem;
    margin-right: 3.0rem;
    background-color: #202A44;
    border-radius: 2.0rem;
}

.screenshots {
    max-width: 22.5rem;
    height: 12rem;
    object-fit: contain;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    border: .1rem solid black;
    outline: .1rem solid #D9E3DA;
}

.gitlink {
    text-decoration: none;
    color: #99FFFF;
}

.modal-header {
    display: block;
    color: black;
}

.modal-title {
    font-family: 'Sans', serif;
    font-size: 1.7rem;
    float: left;
    color: black;
    font-weight: 700;
    text-decoration: underline;
}

u {
    font-family: Verdana, sans-serif;
    font-weight: 1000;
    font-size: 1.7rem;
}

.modal-body {
    font-family: 'Karla', serif;
    color: black;
    font-size: 1.7rem;
    text-align: left;
}

.pictures {
    max-width: 55.0rem;
}

.cross {
    font-size: 1.7rem;
}

#timelineoptions {
    margin-bottom: 1.5rem;
}

#educationbutton {
    border: none;
}

#experiencebutton {
    border: none;
}

#certificatebutton {
    border: none;
}

.collapsible
{
    display: none;
}

.collapsible.active
{
    display: block;
}

#message {
    border-radius: .7rem;
    color: black;
    outline: none;
}

footer {
    background-color: #343a40;
    color: white;
    height: 9.0rem;
    text-align: center;
}

.mid {
    margin-top: 5%;
}

.center {
    margin-top: 3%;
}

#footername {
    font-family: 'Martel', serif;
    font-weight: 400;
    font-size: 1.7rem;
}

#icon {
    font-size: 1.7rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: none;
    background-color: #337ab7;
    height: 2.0rem;
    width: 2.5rem;
    border-radius: 25%;
    border: 0rem;
}

#btn-back-to-top:focus {
    border: 0rem;
}

#bottomsection {
    padding-bottom: 6.0rem;
}

#CV {
    margin-top: 5rem;
    background-color: #337ab7;
    font-size: 1.6rem;
    border-radius: 5%;
    border: 0rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-left: -10%;
}

#download {
    color: #99FFFF;
}
